nav li {
	display:inline;
	text-decoration: none;
	text-transform: uppercase;
    margin: 0, 25px, 0, 25px;
	padding-right: 5%;
    
]

nav {
	width: 940px;
}

nav a {
	font-weight: lighter;
	font-size: 35px;
	text-decoration: none;
	color: blue;


}   
nav a:hover {
	color: red;
	text-decoration: overline;
}



#banner {
	width: 100%;
}
body {
	background:  white;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	font-size: 70px;
}

p {
	text-align: center;
	font-size: 50px;
}

ul li {
	font-size: 50px;
}


