#banner {
	width: 100%;
} 
body {
	background:  white;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	font-size: 70px;
}

p {
	text-align: center;
	font-size: 50px;
}

ul li {
	font-size: 50px;
}


